<form method="POST" action="https://www.liqpay.com/api/pay">
    <input type="hidden" name="public_key" value="i47717661409"/>
    <input type="hidden" name="amount" value="0.05"/>
    <input type="hidden" name="currency" value="UAH"/>
    <input type="hidden" name="description" value="Testing goods"/>
    <input type="hidden" name="language" value="ru"/>
    <input type="submit" name="btn_text" value="Pay!"/>
</form>